.App {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh !important;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url("https://storage.googleapis.com/madcamp/.image/sidebar.png");
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

* {
  box-sizing: border-box !important;
}
