.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.captured-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.captured-images-container img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}