.overlay {
  position: fixed;
  height: 100vh !important;
  width: 100vw;
  background: rgba(0, 0, 0, 0.54);

  display: flex;
  align-items: center;
  justify-content: center;
}
#shadow-root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
}
.image-container {
  position: relative;
  display: flex;

  height: 70% !important;
  overflow: hidden;

  border-radius: 20px;
  background: #ffffff;
  padding: 40px;
}
.inside-image-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
