.options-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.settings {
  padding: 60px 80px;

  flex: 1;
  height: 100vh;
  background-image: url("https://storage.googleapis.com/madcamp/.image/settings.png");
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  background-repeat: no-repeat; /* Prevent background image from repeating */
}

.wishlist {
  padding: 60px 80px;

  flex: 1;
  height: 100vh;
  background-image: url("https://storage.googleapis.com/madcamp/.image/wishlist.png");
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  background-repeat: no-repeat; /* Prevent background image from repeating */
}

.options-menu {
  width: 25vw;
  background-color: #fff;
  height: 100vh;

  padding: 60px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  z-index: 1200;
  row-gap: 27px;
}

@media (max-width: 1200px) {
  .settings {
    position: absolute;

    width: 100%;
    height: 100vh;
    background-image: url("https://storage.googleapis.com/madcamp/.image/settings.png");
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Adjust the background position as needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
  }
}
