.options-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.settings {
  padding: 60px 80px;
  flex: 1;
  height: 100vh;
  background-image: url("https://storage.googleapis.com/madcamp/.image/settings.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wishlist {
  padding: 60px 80px;
  flex: 1;
  height: 100vh;
  background-image: url("https://storage.googleapis.com/madcamp/.image/wishlist.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wishlist-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wishlist-label {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}


.wishlist-new-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 10px; /* Margin to separate button from input */
}

.wishlist-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 0; /* Remove margin to ensure no gap */
}


.options-menu {
  width: 25vw;
  background-color: #fff;
  height: 100vh;
  padding: 60px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1200;
  row-gap: 27px;
}

@media (max-width: 1200px) {
  .settings {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("https://storage.googleapis.com/madcamp/.image/settings.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}